html, body {
    height: 100%;
}

body {
    background-image: url('img/dungeon.jpg');
    background-size: cover;
    overflow: hidden;
}

body > .row {
    height: 100%;
}

.pupil {
    position: absolute;
    height: 33px;
    width: 33px;
    /* border-radius: 50%;
    background-color: black; */
    z-index: -1;
    background-image: url('img/eyeball.png');
    background-size: 33px 33px;
    background-position: center;
    /* top: 10px;
    left: 10px; */
}

.eye {
    position: absolute;
    height: 50px;
    width: 70px;
    border-radius: 50%;
    background-color: hsla(0, 100%, 98%, 0.9);
    z-index: -10;
    /* background-image: url('img/eyeball.png');
    background-size: 33px 33px;
    background-position: center; */
    /* top: 10px;
    left: 10px; */
}

#creep {
    z-index: 5;
}